body,
md-content {
    background-color: #f5f5f5 !important;
}

body > md-toolbar {
    z-index: 3;
}

md-toolbar.md-table-toolbar.alternate {
    color: #1e88e5;
    background-color: #e3f2fd;
}

md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
    font-size: 16px;
}

md-card:first-child {
    padding: 8px 8px 8px 24px;
}

.checkboxes > md-checkbox {
    margin: 0;
    padding: 16px;
    min-width: 300px;
    flex: 0 0 auto;
}
