<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.css" />
    <link rel="stylesheet" href="bower_components/material-design-icons/iconfont/material-icons.css" />
    <!-- endbower -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-data-table/dist/md-data-table.js"></script>
    <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
    <!-- endbower -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/orderManagementCtrl.js"></script>
    <script src="scripts/constants/tableOptions.js"></script>
    <script src="scripts/services/orders.js"></script>
    <!-- endbuild -->

    </head>
   
    <body ng-app="ormApp">

    <md-toolbar class="md-whiteframe-1dp">
      <div class="md-toolbar-tools">
        <div class="md-title">Order Management</div>
      </div>
    </md-toolbar>

    <md-content laout="column" flex ng-controller="OrderManagementCtrl" ng-init="init()">
      <md-card>
        
        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>Order Management</span>
            <div flex></div>
            <md-button class="md-icon-button" ng-click="loadStuff()">
              <md-icon>refresh</md-icon>
            </md-button>
            <!-- <md-button class="md-icon-button" ng-click="showDialog()">
              <md-icon>filter_list</md-icon>
            </md-button> -->
          </div>
          <div class="md-toolbar-tools">
            <md-input-container>
              <label>Search</label>
              <input ng-model="search">
            </md-input-container>
          </div>
        </md-toolbar>
        
        <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
          </div>
          <section layout="row" layout-sm="column" layout-wrap>
            <md-button class="md-raised" ng-click="bulkOperation('Created')">Mark as Created</md-button>
            <md-button class="md-raised md-primary" ng-click="bulkOperation('Confirmed')">Mark as Confirmed</md-button>
            <md-button class="md-raised md-warn" ng-click="bulkOperation('Cancelled')">Mark as Cancelled</md-button>
            <md-button class="md-raised md-success" ng-click="bulkOperation('Shipped')">Mark as Shipped</md-button>
          </section>
        </md-toolbar>
        
        <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise" mdOnPaginate="onPaginate">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                <th md-column md-numeric>Order ID</th>
                <th md-column><span>Customer Name</span></th>
                <th md-column><span>Product</span></th>
                <th md-column><span>Status</span></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="order" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="order in orders.data | fuzzy: search: true | limitTo: query.limit : (query.page -1) * query.limit">
                <td md-cell>{{order.id}}</td>
                <td md-cell>{{order.customer}}</td>
                <td md-cell>{{order.product}}</td>
                <td md-cell>
                  <md-select ng-model="order.type" placeholder="Other" ng-change="changeType(order)">
                    <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>
                  </md-select>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{orders.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
      </md-card>
    </md-content>

    </body>

</html>